@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

.container {
    width: 100%;
    height: 100%;
    background-color: gray;
    padding-top: auto;
    margin: auto;
    /* text-align: center; */
    display: flex;
    flex-direction: row;
}

[class*='-list-container'] {
    display: flex;
    flex: 1 1 auto;
    width: 400px;
    max-width: 100%;
    margin: 0 25px 25px 0;
    padding: 25px;
    display: inline-block;
    vertical-align: top;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
    margin-left: auto;
    margin-right: auto;
}

.icon {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

mat-icon {
    margin: 5px;
}


.task-list {
    border: solid 1px #ccc;
    min-height: 60px;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    display: block;
}

.task-box {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
}