<div class="container">
    <div class="todo-list-container mat-app-background">
        <h2>To do<div class="icon"><mat-icon>home</mat-icon></div></h2>
        <div
            cdkDropList
            #todoList="cdkDropList"
            [cdkDropListData]="todo"
            [cdkDropListConnectedTo]="[inprogressList, doneList]"
            class="task-list"
            (cdkDropListDropped)="drop($event)">
            <div class="task-box" *ngFor="let item of todo" cdkDrag>{{item}}</div>
        </div>
    </div>
    <div class="inprogress-list-container mat-app-background amber-deeppurple">
        <h2>In progress <div class="icon"><mat-icon>directions_run</mat-icon></div></h2>
        <div
            cdkDropList
            #inprogressList="cdkDropList"
            [cdkDropListData]="inprogress"
            [cdkDropListConnectedTo]="[todoList, doneList]"
            class="task-list"
            (cdkDropListDropped)="drop($event)">
            <div class="task-box" *ngFor="let item of inprogress" cdkDrag>{{item}}</div>
        </div>
    </div>
    <div class="done-list-container mat-app-background amber-deeppurple">
        <h2>Done <div class="icon"><mat-icon>done_all</mat-icon></div></h2>
        <div
            cdkDropList
            #doneList="cdkDropList"
            [cdkDropListData]="done"
            [cdkDropListConnectedTo]="[todoList, inprogressList]"
            class="task-list"
            (cdkDropListDropped)="drop($event)">
            <div class="task-box" *ngFor="let item of done" cdkDrag>{{item}}</div>
        </div>
    </div>
</div>
