.dashboard-item {
    /* width: 80%; */
    height: 100%;
    margin: auto;
    /* background-color: blue; */
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* line-height: 150px; */
    /* text-align: center; */

     /* background from http://projects.verou.me/css3patterns/#carbon-fibre (18.10.2020) */
    background:
    radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color:#282828;
    background-size:16px 16px;
}

.dashboard-item > div {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background-color: white;
    color: black;
    min-width: 50px;
    height: 30px;
    border-radius: 10px;
    text-align: center;
    line-height: 30px;
    padding: 5px;
}

.dashboard-item > div:hover {
    /* color: white; */
    /* background-color: #DDD; */
    background-color: rgb(189, 186, 186);
    left: .1em;
}