.container {
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    background-color: rgb(104, 79, 79);
    border-radius: 15px;
    margin: 15px;
}

.textareacontainer, .buttoncontainer {
    display: flex;
    flex: 1 1 auto;
}

.textareacontainer textarea {
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 15px;
    padding: 15px;
}

.buttoncontainer {
    margin: auto;
}

input {
    margin: 15px;
}