<div class="container">
    <div class="textareacontainer" #pdfcontent>
        <textarea rows=40 cols=70 [(ngModel)]='loremIpsumText'></textarea>
    </div>
    <div class="buttoncontainer">
        <input type="button" value="Download PDF"
       class="btn btn-success" (click)="SavePDF()">
    </div>
</div>