
.container {
    width: 100%;
    height: 100%;
    background-color: gray;
    display: flex;
    flex-direction: column;
}

.header {
    width: 100%;
    height: 20%;
    background-color: brown;
    /* display: flex;
    flex-direction: row; */
}

.content {
    width: 100%;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: aquamarine;
}
