.container {
    width: 100%;
    height: 100%;
    background-color: gray;
    padding-top: 15px;
}

.reports {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 100%;
    /* font-family: Arial Narrow,Arial,sans-serif; */
    /* font-family: Perpetua,sans-serif; */
    font-family: 'Lato',sans-serif;
}

.reports li {
    position: relative;
    cursor: pointer;
    background-color: #EEE;
    margin: .5em;
    padding: .3em .5em;
    height: 1.6em;
    border-radius: 4px;
    line-height: 1.6em;
}

.reports li a {
    text-decoration: none;
    color: black;
}