<div class="container">
    <ul class="reports">
        <li *ngFor="let report of reports">
            <a routerLink="reports/{{report.id}}">
                {{report}}
            </a>
        </li>
    </ul>
</div>