.container {
    width: 100%;
    height: 100%;
    background-color: gray;
    display: flex;
    flex-direction: row;
}

[class*='col-'] {
    float: left;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
    flex: 1 1 auto;
    text-decoration: none;
}
/* [class*='col-']:last-of-type {
    padding-right: 0;
} */