<div class="container">
    <a *ngFor="let dashboardItem of dashboardItems" class="col-1-3"
        routerLink={{dashboardItem.path}}>
        <app-dashboard-item [dashboardItem]="dashboardItem"></app-dashboard-item>
    </a>
</div>
