/* You can add global styles to this file, and also import other style files */
/* Setting position:fixed and margins to zero makes
 view to extend the borders of browser without showing
 scrollbar */

html, body {
    width: 100%;
    height: 100%;
    position: fixed;
    margin: 0px 0px 0px 0px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
